<a href="https://colab.research.google.com/github/smaiti7/mLclub-ASU/blob/main/intro_to_python_with_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **BASIC PYTHON SYNTAX**

In [ ]:
# This is a comment!
# Anything written after the # will be ignored when the code runs

In [ ]:
# The print() function prints strings, numbers, or objects (will be converted to strings)
print("Hello World!")

Hello World!

In [ ]:
# Creating variables
x = 5 # x is just a place holder that stores the number 5

y = "hi" # variables can hold different types of data but you do not have to specify the datatype

z = 2.0 + x # float plus an integer will result in a float

Cat = "meow" # variable names can be any combination of numbers, letters, or _, and they are case sensitive!

print(z) # you can use print() to print out the data within a variable
print(Cat)

7.0
meow

In [ ]:
# If you want data to be a specific type you can cast
x = str(5) # x will be '5' a string

y = int('3') # y will be an in int 3, strings can be denoted by single and double quotes!

type(y) # You can check the datatype of a variable using type()

int

In [ ]:
# Strings in python can be created with either double or single quotes
double_quotes = "this is a string!"
single_quotes = 'this is also a string!'
print(type(double_quotes))
print(type(single_quotes))

string = "this string has 30 characters!"
print(len(string)) # len() will return the number of characters in a given string
len("four")

<class 'str'>
<class 'str'>
30

4

#### *Mathematical Operators*
<pre>
Addition         +
Subtraction      -
Multiplication   *
Power            **
Division         /
Floor Division   //
Modulus          %
</pre>

In [ ]:
# You can use the above operators to perform different functions
x = 12 * 2
print(x - 5/2 + 3) # You can use operators in a print statement too

24.5

## **LISTS**

In [ ]:
# Lists contain a sequence of values
my_list = [] # This instantiates a new empty list
my_list.append(1) # append() adds objects to the list
my_list.append(2)
my_list.append(3)
my_list.append(4)
my_list.append(5)
my_list

[1, 2, 3, 4, 5]

In [ ]:
fruits = ["apples", "bananas", "strawberries"] # You can also create lists like this

print(fruits[0]) # You can access varriables through their index, lists are indexed starting from zero
print(fruits[1])
print(fruits[2])

apples
bananas
straberries

In [ ]:
len(my_list) # The len() function counts the number of elements in an object

5

## **NUMPY ARRAYS**

In [ ]:
# NumPy is a powerful python library that we use for arrays and it is often used in ML
import numpy as np # To access NumPy functions and create NumPy arrays you have to import the library

arr = np.array([0, 1, 2, 3, 4, 5]) # Use the array() function to create NumPy arrays

print(arr)
print(type(arr))

[0 1 2 3 4 5]
<class 'numpy.ndarray'>

NumPy arrays can have multiple dimensions!

In [ ]:
# NumPy has functions that allow for quick arithmetic between arrays!
arr1 = np.array([0, 1, 2, 3])
arr2 = np.array([3, 2, 1, 0])

new_arr = np.add(arr1, arr2) # adds 0+3, 1+2, 2+1, 3+0
added = arr1 + arr2 # This line is the same as the one above!
print(new_arr)

[3 3 3 3]

In [ ]:
# This is what would happen if we tried the above with lists instead of arrays!
l1 = [0, 1, 2, 3]
l2 = [3, 2, 1, 0]

l3 = l1 + l2
print(l3)

[0, 1, 2, 3, 3, 2, 1, 0]

####*NumPy Arithmetic*
<pre>
Addition         add()
Subtraction      subtract()
Multiplication   multiply()
Power            power()
Divide           divide()
Remainder        mod() or remainder()
</pre>
All of these functions will compute the values and return the results in a new array. You can also just use mathematical operators instead of methods. Using the methods just allow for more parameters.

[NumPy Documentation](https://numpy.org/doc/)

## **FOR LOOPS**

In [ ]:
# The range() function will produce a sequence of numbers
range(5) # Since no starting number was specified, the sequence will start with 0 and stop before 5

range(0, 5)

You can specify different sequences by defining the parameters.

**range(** *start*, *stop*, *step* **)**

In [ ]:
# To see the sequence of numbers, you can make the range into a list by using the list() function
list(range(0, 11, 2)) # This sequence starts at 0, stops at 10, and increments by 2 producing the output below

[0, 2, 4, 6, 8, 10]

In [ ]:
# For loops are used to repeatedly execute a block of code a set number of times
t = 0
u = 0
for v in range(0, 10, 2): # You can use the range() function to excute the code as many times as needed
  print(v) # Anything indented after the colon is a part of the block that will be repeated

  t += 1 # You can do a variety of things with the code block
  
  u = u + v # Could also be written as u += v
  
print(u + t) # This line is not indented so it is not included in the repeated code block

0
2
4
6
8
25

In [ ]:
dogs = ["beagles", "shibas", "shepard", "corgis", "huskies"]
for dog in dogs: # You can also use for loops to iterate through lists
  print(dog) # the for loop will output all the elements in a list

beagles
shibas
shepard
corgis
huskies

In [ ]:
# Dictionaries are a collection of ordered data that is stored in pairs

cat = {"breed": "shorthair", "name": "Miso", "age": 1}
# data pairs are stored in the forms of key:value

print(cat)

{'breed': 'shorthair', 'name': 'Miso', 'age': 1}

In [ ]:
# You can use for loops to iterate through dictionaries

for x in cat.values(): # use .values() to print the values of the dictionary
  print(x)

for y in cat.keys(): # use .keys() to print the keys of the dictionary
  print(y)

for k, v in cat.items(): # use .items() to print both the keys and the values
  print(k + ": " + str(v))

shorthair
Miso
1
breed
name
age
breed: shorthair
name: Miso
age: 1

In [ ]:
fruits = ["apples", "bananas", "strawberries"]
for num in range(len(fruits)): # This iterates for the length of the list
  print("This fruit basket contains " + fruits[num] + "!")

This fruit basket contains apples!
This fruit basket contains bananas!
This fruit basket contains straberries!

## **IF** **STATEMENTS**

In [ ]:
# If statements are used to test logical conditions
a = 3
b = 3

if a < b: # This is the condition that will be tested
  print("a is less than b") # This executes if the condition is true

elif a == b:
  print("a is equal to b") # This excutes if the second condition is true
  
else:
  print("a is greater than b") # This executes if all the conditions are false

They are equal!

####*Logic Conditionals*

<pre>
Equals                      ==
Not Equals                  !=
Less than                   <
Less than or equal to       <=
Greater than                >
Greater than or equal to    >=
</pre>

Conditionals can be used in if-statements and loops!

In [ ]:
# You can also use if statements within loops!
dogs = ["beagles", "shibas", "shepard", "corgis", "huskies"]

for i in range(len(dogs)):
  if dogs[i] != "shepard": # Tests if the current item in the list is NOT equal to "shepard"
    print(dogs[i]) # If the current item is not "shepard" it will print out the item

beagles
shibas
corgis
huskies

## **WHILE LOOPS**

In [ ]:
# While loops, similar to for loops, repeatedly execute a block of code as long as a condition is true
i = 0

while i <= 5:
  print("i: " + str(i))
  i += 1 
# The loop will stop printing once i is no longer less than or equal to 5

i: 0
i: 1
i: 2
i: 3
i: 4
i: 5

It is important to make sure that the condition will eventually be false or you may end up with infinite loops in your code.

In [ ]:
# A sample while loop that uses the if, elif, and else statements
fruits = ["apples", "bananas", "strawberries"]
a = 0
no_berries = True
while no_berries:
  if fruits[a] == "blueberries":
    print("This basket contains blueberries!")
    no_berries = False
  elif a + 1 < len(fruits):
    a += 1
  else:
    print("This basket does not contain blueberries :(")
    break # The break statement will exit out of the loop without having to test if the condition is true

This basket does not contain blueberries :(

In [ ]:
# You can also put for loops into a while loop!
dogs = ["beagles", "shibas", "shepard", "corgis", "huskies"]
d = True
while d:
  for num in range(len(dogs)):
    if dogs[num] == "shibas":
      d = False
      break # This break statement only applies to the for loop!
    else:
      print("This shelter has: " + dogs[num])

This shelter has: beagles

### **WRITING AND READING FILES**

In [ ]:
with open('intro.txt', 'w') as a_file: # with open context manager which will automatically close the files for you
  a_file.write("hello !") # be mindful of the whitespace! if this line wasn't indented it would not write to the file
  a_file.write("\nthis is a text file") # \n is a newline character so it will type this string on a new line!

It's important to make sure your files are close so you don't accidentally mess with it. It can also cause buffering issues and sometimes changes in a file won't show up until it is closed.

In [ ]:
a_file = open('intro.txt')
for line in a_file: # for each line in a_file
  print(line) # this loop will print out each line

hello !

this is a text file